
.navbar {
  width: 100%;
  position: absolute; 
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
  border-bottom: 1px solid #333;
  background: linear-gradient(to right, #1A0A2D 0%, #153363 100%) !important;
}

.logo-navbar {
  height: 125px;    
  width: auto;       
  margin-right: 10px; 
}
.nav-link {
  color: #ffffff !important; 
  font-weight: 600;         
  font-size: 1.4rem;         
  margin-left: 20px;       
  transition: all 0.3s ease; 
}
.nav-link:hover {
  color: #9955ff !important;
 scale: calc(1.4);
}
.navbar-nav {
  margin-right: 90px;
}






